@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #0b2538;
  color: #fff;
  scroll-behavior: smooth;
}
body {
  direction: rtl;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
input[type="radio"] {
  accent-color: rgb(236 72 153);
}
